*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #eddde8; 
    color: #555;
    font-family: 'Lato', 'Arial' sans-serif; 
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}
.clearfix {zoom: 1} /*fixes floated elments stacked next to each other*/
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


header {
    background-color: black;
    
    text-align: inherit;
}
nav {
    background-color: black;
    width: 100%;
    
    text-align: inherit;

    border-bottom: solid 1px;
    border-bottom-color: rgb(255, 215, 0);

}

body {
    /*background-image: url(/resources/img/prurple-background.jpg);*/
    background-color: rgba(239, 231, 231, 0.54);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 120px;
    margin-right: 120px;
    color: black;
    font-family: Verdana, Arial, sans-serif;
    
}

h1 {
    color: #e67e22;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4em;
}

h2 {
    color: #d1d1e0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4em;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 1em;
}
li{
    list-style: none;
}



/*div {
    display: block;
}*/

.
/*---------------------------------------------------*/
/*   REUASABLE COMPONENTS  */
/*---------------------------------------------------*/


/*.row {
    max-width: 1140px;
    margin: 0 auto;
    /*color: #080808;

}*/
/*
#nav-row{
    max-width: 1140px;
    margin: 0 auto;
    /*color: #080808;*/

}

//section{
    padding: 80px 0;
}

//.box { /* span 1-of-4 content, added box to not mess with the grid content. spacing between li*/
    padding: 1%;
}

#business-name {
    font-family:lato;
    
}




/*******************************************************/
/*              TEXT STYLE                            */
/*******************************************************/

//figcaption {
    font-weight: bold;
    width: 250px;
}

/*******************************************************/
/*               HEADER                                */
/*******************************************************/


.logo {
    position: relative;
    height: 50px;
    width: auto;
    //margin-left: 5%;
    //margin-top: .5%;
    
}
.top-nav {
    list-style: none; /*gets rid of the unordered list/ul bulletpoints */
    text-align: center;
    list-style: none; /*gets rid of the unordered list/ul bulletpoints */
    font-size: 30px;
    border: 2px solid white;
}

.top-nav li {
    display: inline-flex;
    padding: .75em;
    overflow: hidden;
    //border: 2px solid white;
   
}

.top-nav li a:link,
.top-nav li a:visited { /*formats the list and the a link */
    padding: 8px 0; /*adds spacing between content and border*/
    color: goldenrod;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent; /*makes borders invisible till we hover*/
    transition: border-bottom 0.2s;
}

.top-nav li a:hover,
.top-nav li a:active {
    border-bottom: 2px solid gold;
}

.nav-logo {
    height: 170px;
    margin-left: 160px;
    margin-right: 170px;
    border: 2px solid white;
}
.logo{
    height: 150px;
    width: 150px;
    border: 2px solid white;
}
.nav-icons{
    border: 2px solid pink;
}

.nav-icons li{
    position: relative;
    
    display: inline-flex;
    padding-right: 10px;
    overflow: hidden;
    left: 700px;
    padding-right: 60px;
    border: 2px solid white;
    bottom: 100px;
      
}

#profile, #cart{
    width: 40px;
    height: 40px;
    transition: color 0.2s;
    
  }

.shop-list{
    display: none;
}

/*---------------------------------------------------*/
/*  MAIN*/
/*---------------------------------------------------*/

.about-header{
    padding-bottom: 80px;
}

.about-container {
    text-align: center;
}
.stock-angel {
    padding-bottom: 50px;
}

#owner-name{
    padding-bottom: 20px;
}
.contact{
    padding-top: 20px;
    padding-bottom: 30px;
}

/*input {
    position: relative;
    display:block;
}*/

.form-container {
    position: relative;
    //background-color: rgb(184, 184, 188);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;

}

.input-box{
    position: relative;
    //margin-left: 250px;
}

p {
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 20px;
    
}

.comment {
    height: 230px;
}

#img-file{
    padding-top: 20px;
    padding-bottom: 20px;

}

.email-contact{
    //margin-top: 170px;
}

/*---------------------------------------------------*/
/*  FOOTER*/
/*---------------------------------------------------*/

footer {
    background-color: #333;
    padding: 20px;
    font-size: .5em;
    text-align: center;
    margin-top: 50px;
  }
  .footer-nav {
    list-style: none;
  }
  
  .social-links {
    list-style: none;
  }
  .footer-nav li,
  .social-links li {
    display: inline-block;
    margin-right: 20px;
  
  }
  
  .footer-nav li a:link,
  .footer-nav li a:visited,
  .social-links li a:link,
  .social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
  }
  .footer-nav li a:hover,
  .footer-nav li a:active {
    color: #FAF0E6;
  }
  
  .social-links li a:link,
  .social-links li a:visited {
    font-size: 160%;
  }
  
  svg{
    width: 20px;
    height: 20px;
    transition: color 0.2s;
    
  }
  
  .social-links{
    padding-top: 30px;
  }
  
  .facebook,
  .instagram,
  .x,
  .youtube {
    transition: color 0.2s;
    fill: #FAF0E6;
  }
  .facebook:hover{
    fill: #3b5896;
  }
  .instagram:hover {
    fill: #e95950;
  }
  .x:hover {
    fill: #445059;
  }
  .youtube:hover {
    fill: #ff0000;
  }
  
  footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
  }
  
