/*----------------------------------------------
  ------------------------------------------------
  1. Universal Styles
  ------------------------------------------------
  ----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-family: ar;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
*body {
  margin: 0;
  padding: 0;
}

body{
  font-family:Verdana, Arial, sans-serif;
  background: url(/img/Hov.jpg) no-repeat;
  background-size: cover;
}


li {
  list-style: none;
}


/*----------------------------------------------
------------------------------------------------
2. HEADER
------------------------------------------------
----------------------------------------------*/
/*------NAVIGATION------*/
h1{
  position: relative;
  text-align: center;
  font-size: 7em;
  color: white;
  bottom: -140px;
}

h4, a{
  color: #36454F;
  text-decoration: none;
  opacity: .8;
}

nav {
  position: relative;
  top: 150px;
  height: 170px;
  margin-top: 50px;
  border: 3px black solid;
  backdrop-filter: blur(.2px);
  filter: brightness(90%);
  margin-right: 160px;
  margin-left: 150px;
  margin-bottom: 100px;
  
}

.nav-row ul{
    position: relative;
    text-align: center; 
    display: flex;
    flex-flow: row wrap; /*flex-direction & flex-wrap*/
    justify-content: space-around;
    
    
}
.nav-row {
  padding-top: 50px;
  
}

.nav-menu-ulist {
  display: inline-flex;
  
}

.nav-menu-ulist a{
  color: black;
  
}

.nav-menu-ulist li {
  margin-right: 30px;
  font-size: 2.5em;
  z-index: 2;

}
.nav-list h4:hover,
.nav-list h4:active{
  color: #FB8B24;
  transition: color 0.2s;
  opacity: 1;
}

/*----------------------------------------------
------------------------------------------------
3. BODY
------------------------------------------------
----------------------------------------------*/


div.bg-img h1:not(:last-child){
  opacity: .8;
}

.about-jayz {
  position: relative;
  margin-top: 240px;
  text-align: center;
  color: white;
  opacity: .8;
  margin-bottom: 50px;
  padding-top: 20px;
}

.artist-container h3, p{
  padding-bottom: 15px;
}

@media only screen and (max-width: 1000px){
  body{
    font-family:Verdana, Arial, sans-serif;
    background: url(/img/Hov.jpg) no-repeat;
    background-size: cover;
    background-position:center;
  }
  
  h1{
    font-size: 2.5em;
  }
  .nav-menu-ulist li{
    font-size: 1.3em;
    
  }
  nav {
    position: relative;
    height: 150px;
    width: 400px;
    backdrop-filter: blur(.2px);
    filter: brightness(90%);
    margin-bottom: 100px;
    text-align: center;
    margin-left:30px;
    
    
  }
 
}

/*---------------------------------------------------*/
/*  FOOTER*/
/*---------------------------------------------------*/

footer {
  background-color: #333;
  padding: 20px;
  font-size: .5em;
  text-align: center;
}
.footer-nav {
  list-style: none;
}

.social-links {
  list-style: none;
}
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;

}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
}
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #FAF0E6;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

svg{
  width: 20px;
  height: 20px;
  transition: color 0.2s;
  
}

.social-links{
  padding-top: 30px;
}

.facebook,
.instagram,
.x,
.youtube {
  transition: color 0.2s;
  fill: #FAF0E6;
}
.facebook:hover{
  fill: #3b5896;
}
.instagram:hover {
  fill: #e95950;
}
.x:hover {
  fill: #445059;
}
.youtube:hover {
  fill: #ff0000;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
  font-size: 1.3em;
}

